:root {
  --primary-blue: #2d72ff;
  --secondary-blue: #447ff8;
  --header-color: #ffffff;
  --primary-background: #f9fafc;
  --lines-border: #e4e7ed;
  --lightgray-text: #9ba4b5;
  --darkgray-text: #5a5e65;
  --black-text: #333333;
  --app-logo: #3b82f6;
  --secondary-blue-20: rgba(131, 170, 248, 0.804);
}
/* 1 rem = 16px remember*/
header {
  background-color: var(--header-color);
  padding: 0;
  display: flex;
  justify-content: space-between;
  height: 100px;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08);
  position: relative;
  z-index: 10;
}

.app-title {
  height: auto;
  width: auto;
  max-height: 95%;
  margin: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.app-title h1 {
  margin: 0;
  padding: 0;
}

.app-title p {
  margin: 0 0.5rem;
}

.app-title img {
  border-radius: 8px;
  height: 20px;
  width: 20px;
  padding: 0.3rem;
  margin: 0 0.5rem 0 1rem;
}

.header-controls {
  max-height: 100%;
  width: auto;
  display: flex;
  margin: 0 3rem;
  align-items: center;
}

.date-desc {
  font-size: 1.1rem;
}

.day-desc {
  color: var(--darkgray-text);
}

.header-controls button {
  height: 40px;
  margin: 0 0.5rem;
  color: var(--primary-background);
  background-color: var(--secondary-blue);
  border: none;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.theme-toggle {
  border-radius: 20px;
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.theme-toggle:hover {
  background-color: var(--secondary-blue-20);
}

.theme-toggle button {
  height: 25px;
  width: 25px;
  border-radius: calc(25px / 2);
}

.date {
  text-align: right;
}

.date p {
  margin: 1rem;
}
