:root {
  --primary-blue: #2d72ff;
  --secondary-blue: #447ff8;
  --header-color: #ffffff;
  --primary-background: #f9fafc;
  --lines-border: #e4e7ed;
  --lightgray-text: #9ba4b5;
  --darkgray-text: #5a5e65;
  --black-text: #333333;
  --app-logo: #3b82f6;
  --secondary-blue-20: rgba(131, 170, 248, 0.804);
}

.timetable {
  background-color: var(--primary-background);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 0;
  padding: 0;
}

.schedule-and-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  max-width: 1400px;
}

.schedule {
  margin: 1rem;
  margin-left: 0;
  width: auto;
  display: flex;
  align-items: center;
}

.schedule img {
  margin: 1rem;
  margin-left: 0;
  height: 3rem;
  width: 3rem;
}

.schedule h1 {
  font-size: 3rem;
  margin: 1rem;
  margin-right: 0;
}

.controls {
  margin: 0 2rem;
  height: 4rem;
  width: 20%;
  max-width: 200px;
  display: flex;
  margin-right: 0;
}

.schedule-and-controls button {
  background-color: var(--lines-border);
  border: none;
  width: auto;
  flex: 1;
  color: black;
  min-height: 90%;
  transition: background-color 0.2s ease;
  font-size: 1.6rem;
  padding: 0.5rem;
}

.clicked {
  color: white !important;
  background-color: var(--secondary-blue) !important;
}

.left {
  border-radius: 8px 0 0 8px;
}

.right {
  border-radius: 0 8px 8px 0;
  margin-right: 1rem;
}

@media (max-width: 900px) {
  .schedule-and-controls {
    width: 95%;
  }
}

@media (max-width: 560px) {
  .schedule-and-controls {
    width: 97%;
  }
  .controls {
    margin-right: 1rem;
    width: 20rem;
  }

  .schedule-and-controls button {
    width: calc(100% / 3);
    margin: 0;
    height: 5rem;
  }
  .schedule img {
    display: none;
  }

  .schedule h1 {
    font-size: 2.5rem;
  }
}
