.timetable-entry {
  background-color: var(--secondary-blue);
  height: auto;
  width: 95%;
  max-width: 250px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 0;
  border-radius: 6px;
  overflow: hidden;
  min-width: 0;
  flex-grow: 1;
  min-height: 40px; 
}

.timetable-entry:hover {
  cursor: pointer;
}

.timetable-entry h3 {
  width: 90%;
  margin: 1rem auto 0 auto;
  font-size: 1.35rem;
  white-space: normal;
  word-wrap: break-word;
  overflow: hidden;
  min-width: 0;
}

.timetable-entry p {
  width: 90%;
  margin: 1rem;
  font-size: 1.3rem;
}

@media (max-width: 1340px) {
  .timetable-entry p {
    font-size: 1rem;
  }
}

@media (max-width: 900px) {
  html {
    font-size: 55%;
  }
  .timetable-entry h3 {
    text-align: left;
    font-size: 1.2rem;
    margin: 0.2rem auto; 
    line-height: 1.2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2; 
    overflow: hidden; 
  }
  .timetable-entry p {
    display: none;
  }

  .timetable-entry {
    justify-content: center;
    align-items: center;
    padding: 2px 0;
    min-height: 100%;
    width: 98%; 
  }
}

@media (max-width: 650px) {
  .timetable-entry h3 {
    font-weight: normal;
    font-size: 1.4rem;
    max-width: 90%;
  }
}

@media (max-width: 500px) {
  .timetable-entry {
    height: 100%;
    max-height: 100%; 
    flex-grow: 1; 
    width: 99%; 
  }
}